{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}
	<style>
		tbody td,
		table th {
			width: calc(100vw / 7);
            text-align: center;
		}
	</style>

	<h1>{{title}}</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Points</th>
					<th>Pass</th>
					<th>Reservations</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>

						<td>{{user.getFirstname()}}</td>
						<td>{{user.getLastname()}}</td>
						<td>{{user.getPhone()}}</td>
						<td>{{user.getEmail()}}</td>
						<td>{{user.getPoints()}}</td>
						<td>{{user.getPassword()}}</td>
						<td>
							<div>
								{% for reservation in user.getReservations() %}
									<p>Movie:
										{{reservation.getMovie()}}</p>
									<p>Number of seats:
										{{reservation.getNumberOfSeats()}}</p>
									<p>Price:
										{{reservation.getPrice()}}</p>
								{% endfor %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
